            <form role="form">
              <div class="form-group">
                <label class="control-label" for="producto">Producto</label>
                <input type="text" class="form-control" id="producto">
              </div>
              <div class="form-group">
                <label class="control-label" for="descripcion">Descripci&oacuten</label>
                <input type="text" class="form-control" id="descripcion">
              </div>
              <div class="form-group">
                <label class="control-label" for="contacto">Contacto</label>
                <input type="text" class="form-control" id="contacto">
              </div>
              <div class="form-group">
                <label class="control-label" for="valor">Valor</label>
                <input type="text" class="form-control" id="valor">
              </div>

              <div class="form-group">
                <label for="imagen">Imagen</label>
                <input type="file" id="imagen">
              </div>
                <button type="submit" class="btn btn-primary btn-lg active">Cargar Articulo</button>
            </form>
