                            <article>
                				<div>
                                                    <hgroup>
                                                       
                                                            <img class="imagprin" src="../staticos/images/{imagen}">
                                                            {titulo}<br>
                                                            {descripcion}<br>
                                                            {contacto}<br>
                                                            {valor}<br>
                                                            
                                                        
                                                        </hgroup>	
                				</div>
                                <div>
                                         
                                        <p><a href='comenta.php?codiarti=".$fila["codiarti"]."'>Comentarios</a></p>
                                </div>
                             </article>