            <form role="form">
              <div class="form-group">
                <label class="control-label" for="codicali">Codigo</label>
                <input type="text" class="form-control" id="codicali">
              </div>
              <div class="form-group">
                <label class="control-label" for="calificacion">Calificacion</label>
                <input type="text" class="form-control" id="calificacion">
              </div>
              <div class="form-group">
                <label class="control-label" for="valocali">Valor</label>
                <input type="text" class="form-control" id="valocali">
              </div>
              <button type="submit" class="btn btn-primary btn-lg active">Crear Calificacion</button>
            </form>