            <form role="form">
              <div class="form-group">
                <label class="control-label" for="codiesta">Codigo</label>
                <input type="text" class="form-control" id="codiesta">
              </div>
              <div class="form-group">
                <label class="control-label" for="estado">Estado</label>
                <input type="text" class="form-control" id="estado">
              </div>
              <button type="submit" class="btn btn-primary btn-lg active">Crear Estado</button>
            </form>